
.endQuizz{
  background-color:lightgray;
  border-radius: 15px;
  border: 5px solid  rgb(48,48,48); 
  padding: 5px 25px;

}
.pokemonToGuessLi{
  background-color:lightgray;
  padding: 5px;
  gap: 5px;


  display:flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.pokemonToGuess{
  background-color:lightgray;
  border: none;
  cursor: pointer;  
  font-size:18px;
  white: 20px;
}

.pokedexButton{
  background-color: rgb(255,0,0,0.6);
  color: white;
  border: 2px solid rgb(48,48,48);

  height: 30px;
  width: 70px;
  margin-top: 5px;
}

.pokedexContainer{
  gap: 15px;
  margin-top:10px;
  @media screen and (min-width:855px){
    display: flex;
    flex-direction: row;
    height:500px;
  }
}

.pokedexInfos{
  background-color:lightgray;
  border-radius: 15px;
  border: 5px solid  rgb(48,48,48); 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height:160px;
  width: 270px;
  margin-bottom:10px;
  }

.pokedexInfosDiv{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  gap: 50px;

  }

.pokedexTitle{
   background-color:lightgray;
  border-radius: 15px;
  border: 5px solid  rgb(48,48,48); 
  height:110px;
  width: 270px;
  margin-bottom:10px;

}
  

.pokedexDesc .pokedexTypes{
  display: flex;
  flex-direction: column;
  height:60px;
  width: 270px;
}
.pokedexTypes{
  gap: 15px;
}
.pokedexTalents{
  background-color:lightgray;
  border-radius: 15px;
  border: 5px solid  rgb(48,48,48); 
  height: 200px;
  width: 270px;
  margin-bottom: 10px;

}
.pokedexStats{
  background-color:lightgray;
  border-radius: 15px;
  border: 5px solid  rgb(48,48,48);
  width: 270px;
  height:540px;
  margin-bottom: 80px;
}

.pokedexStatDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}
.pokedexStatInfos{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokedexStatBarContainer{
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.pokedexStat{
  left: 20px;
}

.statBar {
  width: 250px;
  overflow: hidden;
  height: 20px;
  border-radius: 10px;  background-color: #ddd;
  border: 1px solid #000;
}

.statValue {
  width: 0%;
  height: 100%;
  left:0;
  background-color: #79b;
}

.pokedexText{
  font-size: 20px;
  font-weight: bold;
}