body {
  margin: 0;
  padding : 0;
  box-sizing :border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

}

.container {
}



.resultButton{
display: flex;
justify-content:space-around;
align-items: center;

background-color: lightgray;

width: 280px;
height: 40px;
border: none;

cursor:pointer;
}

.downArrow{
  width: 12px;
}


.resultDiv{
  flex-direction: column;
  background-color: lightgray;
  width: 280px;
  border: 1px solid black;
}